.about {
    text-align: center;

    .about-header {
        padding: 10px 0;

        #user_name {
            font-size: $title-size;
        }
    }

    div.icons {
        justify-content: center;
        font-size: 1.5rem;
        color: $blue;
        a,button {
            margin: 0 .2rem;
        }
        button { color: $blue; }
    }
}
