</main>
<footer class="footer">
  <span>&copy; {{ now.Year }} {{ .Site.Params.author }}</span>
</footer>
<script src="https://cdn.bootcss.com/instantclick/3.0.1/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js" data-no-instant></script>
<!-- app.js -->
<script src="{{ .Site.BaseURL }}/js/app.js"></script>
<!-- Google analytics -->
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
</body>
</html>
